astropy==8.0.1
astropy-iers-data==0.2026.8.18.14.22.31
attrs==18.2.0
av==18.1.0
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
cloup==4.0.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
decorator==5.3.1
fonttools==4.63.0
glcontext==3.0.0
idna==3.19
isosurfaces==0.1.2
joblib==1.5.3
kiwisolver==1.5.0
manim==0.21.0
ManimPango==0.6.1
mapbox_earcut==2.1.0
markdown-it-py==4.2.0
matplotlib==3.11.1
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
mpmath==1.3.0
narwhals==2.25.0
networkx==3.6.1
numpy==2.5.2
packaging==26.3
pandas==3.0.5
pdf2image==1.17.0
pdflatex==0.1.3
pillow==12.3.0
pycairo==1.29.1
pydub==0.25.1
pyerfa==2.0.1.5
pyglet==2.1.16
pyglm==2.8.3
Pygments==2.21.0
pymupdf==1.28.2
pyparsing==3.3.2
pypdf==6.19.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.0
scipy==1.18.1
screeninfo==0.8.1
six==1.17.0
skia-pathops==0.9.2
soupsieve==2.9.2
srt==3.5.3
svgelements==1.9.6
sympy==1.14.0
threadpoolctl==3.6.0
tqdm==4.70.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
watchdog==6.0.0
